
body {
  @apply leading-normal text-gray-800;
}


table {
  @apply my-4 text-sm table-auto;

  td {
    @apply p-0 m-0
  }
  
  th {
    @apply px-2
  }

  thead {
    tr {
      @apply text-left;
    }
  }
  tfoot {
    tr {
      @apply bg-none
    }
    th,td {
      @apply pt-1;
    }
  }
  tbody {
    td {
      @apply border border-gray-300
    }
  }
}

button,.button {
  @apply px-3 py-1 text-sm rounded border border-gray-300 shadow font-medium;
  &:hover {
    @apply bg-gray-100;
  }
  &.table-icon {
    @apply rounded-none shadow-none border-none
  }
  &.disabled {
    @apply bg-gray-200 shadow-none cursor-default
  }
  &.button-green {
    @apply border-green-500;
  }
  &.button-red {
    @apply border-red-500;
  }
}
.button-small {
  @apply text-xs px-2
}

h1 {
  @apply text-4xl font-semibold
}

input[type=number] {
  appearance: textfield;
}

input {
  @apply py-1 px-2 bg-transparent
}

select {
  @apply block appearance-none py-1 pl-2 pr-8 rounded leading-tight bg-transparent;
  width: 20rem;
}

h3 {
  @apply text-xl font-semibold mb-2 mt-8;
}

.row-entry {
  td:not(.td-action) {
    @apply px-2
  }
}

.row-add {
  @apply bg-gray-100
}

nav {
  @apply w-full p-4 flex items-center;
  .title {
    @apply text-lg text-indigo-500 font-semibold
  }
  .actions {
    button,.button {
      @apply button-small mr-2;
      &:last-child {
        @apply mr-0
      }
    }
  }
}

.tab-list {
  @apply flex;
  .tab-list-item {
    @apply text-sm px-2 py-1 border border-l-0 border-gray-300 cursor-pointer font-medium;
    &:first-child {
      @apply border-l
    }
  }
  .tab-list-active {
    @apply border-b-0 font-bold
  }
  .filler {
    @apply flex-grow border-b border-gray-300
  }
}

.tab-content {
  @apply border border-t-0 border-gray-300 p-4 rounded rounded-tl-none shadow relative z-10
}